#content {
    min-height: 480px;
    padding-bottom: 1em;
}

.news {
    padding: 1em;
    border-bottom: .2em dashed #464646;
}

h3 + p {
    margin-top: 0;
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: 100%;
}

img + p {
    margin : 1em 0;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    background: #828282;
    border: none;
    padding: 1em;
    height: 4.5em;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
}

.comment_list {
    background: #464646;
}

.comment p:first-child {
    padding: 1em 0 0 1em;
}

.comment p:first-child span {
    text-transform: uppercase;
    color: #e5a700;
}

.comment p:last-child {
    background: #828282 url(../resources/quote_light.png) no-repeat .5em -.3em;
    padding: 1em 1em 1em 5em;
    margin: 0 1em;
    color: #353535;
    display: inline-block;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
}

.comment:last-child {
    padding-bottom: 1em;
}
